<cart-notification> 
    <div id="cart-notification" class="cart-notification focus-inset" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1"> 
      <div class="cart-notification__content d-flex flex-column h-100" id="cart-notification-content">
        <!-- Content from cart-notification-content.liquid section will be render here -->
      </div>
    </div> 
    <div class="cart-notification-ymal d-none" id="cart-notification-crosssell-products" data-crosssell_type="selection" >
    <!-- Content from cart-notification-crosssell-products.liquid section will be render here -->
  </div>
</cart-notification>
