<div class="form-information d-none position-relative">
  <div class="form-information-wrapper">
      <div class="newsletter-msg success d-none">
        <h6 class="m-0">
          <i class="bi bi-patch-check-fill"></i>{{ 'sections.newsletter.successfully_message' | t }}
        </h6>
      </div>
    <div class="newsletter-msg error d-none">
       <h6>
         <i class="bi bi-x-circle"></i></i>{{ 'general.newsletter_model.error_message' | t }}
       </h6>
    </div>
  </div>
</div>