<div class="{% if main-loader == true %}loading-wrapper {% endif %}loading-box{% if tabloader == true or verticalMenu == true or mainMenu == true  %} show-loader{% else%} hidden{% endif %}">
  <div class="loading-box__spinner">
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="spinner"
      viewBox="0 0 66 66"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle class="path" fill="none" stroke-width="6"  cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</div>