.blog-modern .blog-image {
	position: relative;
	top: 0
}

.blog-modern .blog-image a {
	position: relative;
	display: inline-block;
	width: 100%
}

.blog-modern .blog-post .blog-content {
	padding: 0 25px 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	transition: .2s ease-in-out
}

.blog-modern .blog-content .blog-wrap {
	background-color: var(--white-color);
	padding: 20px 30px
}

.blog-modern .blog-wrap p {
	margin-top: 5px
}

.blog-modern .blog-post-category {
	margin-bottom: 5px
}

.blog-modern .blog-post-title,
.blog-placeholder h6 {
	color: var(--dark-color);
	font-size: var(--font_size_plus4);
	line-height: var(--font_size_plus10);
	font-weight: var(--font-weight-500);
	display: inline-block
}

.blog-modern .blog-post-category a {
	display: inline-block;
	color: var(--body-text-color);
	text-transform: uppercase;
	font-size: var(--font_size_minus3);
	font-weight: var(--font-weight-500)
}

.blog-modern .blog-content .blog-meta-wrap {
	background-color: var(--dark-color);
	padding: 14px;
	text-transform: uppercase;
	font-size: var(--font_size_minus4);
	color: var(--white-color);
	line-height: var(--font_size_plus2)
}

.blog-modern .author a:hover,
.blog-modern a:hover {
	color: var(--dark-color)
}

.blog-modern .blog-meta-wrap .blog-separator {
	margin: 0 10px;
	color: rgba(255, 255, 255, .4)
}

.blog-modern .blog-post .blog-image img {
	transition: .4s ease-in-out
}

.blog-modern .blog-post:hover .blog-image img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: .7
}

@media (max-width:767px) {
	.blog-modern .blog-post .blog-content {
		padding: 0 20px 20px
	}
}