.compare-table a.product-title,
.compare-table tr td label {
	font-weight: var(--font-weight-500)
}

.compare-table,
.compare-table a.product-title:hover {
	color: var(--dark-color)
}

.compare-table {
	margin-bottom: 0
}

.compare-table-right td {
	border-right: 1px solid var(--extra-medium-gray);
	padding: 10px;
	width: 300px
}

.compare-table-right td.image {
	padding-top: 55px
}

.compare-table-right {
	overflow-x: auto;
	overflow-y: hidden
}

.compare-table-right table {
	table-layout: fixed;
	margin-bottom: 0
}

.compare-table-left {
	border-right: 2px solid var(--dark-color)
}

.compare-table-left td {
	text-align: left;
	padding: 10px 60px
}

.compare-table-right .product-image img {
	margin-bottom: 20px
}

.compare-table-right .product-title {
	max-width: 225px;
	margin: 0 auto
}

.compare-table a.product-title {
	line-height: var(--font_size_plus6);
	transition: .2s ease-in-out
}

.compare-table .spr-badge-starrating .spr-icon {
	font-size: var(--font_size_minus2)
}

.compare-table .spr-badge-starrating .spr-icon:last-child {
	margin-right: 0
}

.compare-table .spr-badge-starrating {
	display: inline-block;
	line-height: normal
}

.compare-table .in-stock {
	color: var(--green)
}

.compare-table .unavailable {
	color: var(--red)
}

.compare-table .remove-icon {
	font-size: 18px;
	line-height: normal;
	width: 32px;
	height: 32px;
	color: var(--white-color);
	background-color: var(--dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -15px;
	top: -15px;
	border-radius: 100%;
	transition: .2s ease-in-out
}

.compare-table .remove-icon i {
	line-height: 0
}

.compare-table .price__compare {
	margin-left: 10px
}

.compare-table .spr-badge-caption {
	display: none
}

.compare-table tr:not(:first-child):not(:last-child):nth-child(odd) {
	background-color: var(--very-light-gray)
}

.compare-table tr:last-child td {
	border-bottom: none;
	padding-top: 25px;
	padding-bottom: 25px
}

.compare-table.compare-empty tr td {
	border: none
}

.compare-table.compare-empty {
	color: var(--dark-color);
	width: 600px;
	margin: 0 auto
}

.compare-table.compare-empty a {
	border-bottom: 1px solid var(--dark-color);
	color: var(--dark-color)
}

.mfp-compare-popup .mfp-container {
	padding: 0
}

.product-compare-popup {
	display: inline-block;
	width: 100%;
	height: 100vh;
	max-height: 97dvh;
    overflow-y: auto;
}

.product-compare-popup .table-title {
	text-align: center;
	padding: 35px 0;
	background-color: #f7f7f7;
	margin-bottom: 0
}

.product-compare-popup .mfp-close {
	opacity: 1;
	right: 20px;
	top: 30px
}

.mfp-compare-popup.mfp-wrap.mfp-ready .mfp-content {
	visibility: visible;
	transform: translateY(0)
}

.mfp-compare-popup.mfp-wrap .mfp-content,
.mfp-compare-popup.mfp-wrap.mfp-removing .mfp-content {
	transition: transform 1s cubic-bezier(.19, 1, .22, 1), visibility 1s cubic-bezier(.19, 1, .22, 1);
	visibility: hidden;
	transform: translateY(150%)
}

.mfp-compare-popup.mfp-bg.mfp-ready {
	opacity: .7;
	visibility: visible
}

.mfp-compare-popup.mfp-bg,
.mfp-compare-popup.mfp-bg.mfp-removing {
	opacity: 0;
	visibility: hidden;
	transition: 1s cubic-bezier(.19, 1, .22, 1)
}

@media (max-width:1399px) {
	.compare-table-left td {
		padding: 10px 40px
	}
}

@media (max-width:1199px) {
	.compare-table-left td {
		padding: 10px 30px
	}

	.compare-table-right td {
		width: 270px
	}
}

@media (max-width:767px) {
	.compare-table-left td {
		padding: 10px;
		font-size: var(--font_size_minus3)
	}

	.product-compare-popup .mfp-close {
		top: 0;
		right: 0
	}
}