.block-heading,
.text-block-content>div:not(:last-child),
footer .cloth-our-store-footer p,
footer .electronic-our-store-footer div,
footer .footer-newsletter p {
	margin-bottom: 10px
}

.copy-right-logo .svg-placeholder {
	width: 100px;
	height: 30px
}

.footer-bottom .copyright-placeholder-img.svg-placeholder {
	height: 30px;
	width: 230px
}

.block-heading,
.copyright-text a,
.text-block-content label,
footer .footer-logo {
	font-weight: var(--font-weight-500);
	color: var(--dark-color)
}

.block-heading,
.copyright-text a,
.text-block-content label,
footer .footer-email-info a:hover,
footer .footer-logo,
footer a:hover {
	color: var(--dark-color)
}

.copyright-text,
.social-html-content ul {
	font-size: var(--font_size_minus2)
}

.footer-top {
	padding-bottom: 80px;
	padding-top: 80px;
	border-bottom: 1px solid var(--extra-medium-gray)
}

.footer-bottom {
	padding: 25px 0
}

footer .footer-logo {
	margin-bottom: 20px
}

.footer-menu-link li {
	position: relative;
	padding: 0;
	list-style: none;
	width: 100%
}

footer .footer-menu-link li a {
	margin-bottom: 5px;
	display: inline-block
}

.copyright-text p,
footer .electronic-our-store-footer div:last-child,
footer .electronic-our-store-footer div:nth-child(3),
footer .footer-menu-link li:last-child a,
footer .footer-newsletter label p:last-child {
	margin-bottom: 0
}

footer {
	line-height: var(--font_size_plus7)
}

footer .hongo-contact-info-wrap>div:not(:first-child) {
	margin-bottom: 15px
}

footer .store-location-map {
	height: 120px
}

footer .store-location-map a {
	height: 100%;
	display: block
}

footer .footer-email-info a:hover {
	text-decoration: underline
}

footer .information {
	padding-right: 100px
}

footer .information p {
	width: 75%
}

.copyright-text a {
	border-bottom: 1px solid
}

.copy-right-logo.copy-right-separator {
	padding-right: 35px;
	border-right: 1px solid var(--extra-medium-gray);
	margin-right: 35px
}

.text-block-content p {
	line-height: var(--font_size_plus10);
	width: 90%;
	margin-bottom: 15px
}

footer .border-left {
	border-left: 1px solid var(--extra-medium-gray);
	padding-left: 10%
}

footer .footer-newsletter h5 {
	margin-bottom: 8px
}

footer .footer-newsletter .newslatter-input {
	padding: 0 40px 0 0;
	background-color: transparent;
	border-width: 0 0 2px;
	border-radius: 0;
	border-color: var(--dark-color);
	color: var(--dark-color)
}

footer .footer-newsletter .newslatter-input::placeholder {
	color: var(--dark-color)
}

footer .footer-newsletter .newslatter-input::-webkit-input-placeholder {
	color: var(--dark-color)
}

footer .footer-newsletter .newslatter-input:-ms-input-placeholder {
	color: var(--dark-color)
}

footer .footer-newsletter button {
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 0;
	border: 0;
	height: 100%
}

footer .form-agreement input {
	height: 16px;
	width: 16px;
	margin-bottom: 0;
	margin-right: 10px;
	margin-top: 4px;
	padding: 0
}

footer .electronic-our-store-footer .secure-payments,
footer .footer-newsletter .form-agreement,
footer .footer-newsletter .payment-icon {
	margin-top: 20px
}

footer .footer-newsletter .form-agreement p {
	padding: 0
}

footer .cloth-our-store-footer a {
	margin-bottom: 30px
}

footer .cloth-our-store-footer .btn-link-white:hover {
	color: var(--white-color)
}

footer .electronic-our-store-footer i {
	color: var(--white-color);
	margin-right: 10px
}

.social-html-content ul {
	list-style: none
}

.social-html-content ul li {
	padding-left: 15px;
	display: inline-block
}

.social-html-content ul li:first-child {
	padding-left: 0
}
footer .instagram .row { 
    margin: 0 -5px;
}
footer .instagram .insta-items {
    padding: 5px;
}
footer .instagram .insta-btn {
	font-size: var(--font_size_minus4);
	letter-spacing: -0.5px;
	padding: 10px 20px;
	border-radius: 30px;
	display: flex;
    align-items: center;
    word-break: break-all;
}
footer .instagram .insta-btn i {
	font-size: 16px;
	top: 0;
}
footer .insta-items .insta-hover i {
	font-size: var(--font_size_plus5);
}
@media (max-width:1199px) {
	.site-footer {
		font-size: var(--font_size_minus1)
	}

	.text-block-content p,
	footer .information p {
		width: 90%
	}

	.footer-top {
		padding-top: 60px;
		padding-bottom: 60px
	}

	footer .information {
		padding-right: 60px
	}

	footer .border-left {
		padding-left: 7%
	}
}

@media (max-width:991px) {
	.site-footer {
		font-size: var(--font_size)
	}

	.footer-top {
		padding-bottom: 30px;
		padding-top: 60px
	}

	.footer-bottom {
		padding: 10px 0 30px
	}

	.text-block-content p {
		width: 100%;
		margin-bottom: 10px
	}

	footer .footer-block {
		margin-bottom: 30px
	}

	footer .footer-logo {
		margin-bottom: 15px
	}

	footer .border-left {
		border-left: 0;
		padding-left: 15px
	}

	footer .information {
		padding-right: 15px
	}

	.footer-bottom .copyright>div {
		margin-top: 20px;
		text-align: center
	}

	.copy-right-logo.copy-right-separator {
		padding-right: 15px;
		margin-right: 15px
	}
}

@media (max-width:767px) {
	.footer-bottom .footer-bottom-column {
		margin-bottom: 20px
	}

	footer .footer-menu-link li a {
		margin-bottom: 8px
	}

	.text-block-content p,
	footer .information p {
		width: 100%
	}

	.footer-bottom .copyright>div,
	footer .footer-block:last-child {
		margin-top: 15px
	}

	footer .footer-block.mobile-wrapper {
		margin-bottom: 0;
		margin-top: 0 !important
	}

	footer .footer-block .mobile-toggle+ul {
		margin-bottom: 17px;
		display: none
	}

	footer .footer-block .mobile-toggle {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		border-top: 1px solid var(--extra-medium-gray);
		padding: 17px 0
	}

	footer .footer-block.footer-newsletter+.footer-block .mobile-toggle,
	footer .footer-block.informaiton+.footer-block .mobile-toggle,
	footer .footer-block.text-block-content+.footer-block .mobile-toggle,
	footer .footer-block:first-child .mobile-toggle {
		border-top: 0;
		padding-top: 0
	}

	footer .footer-block .mobile-toggle:after {
		font-size: var(--font_size_minus3);
    content: "\F282";
    margin-left: auto;
    transition: transform .3s;
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-style: normal;
    font-weight: 900!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	}

	footer .footer-block .mobile-toggle.menu-open:after {
		transform: rotateX(180deg)
	}

	footer .text-block-content {
		order: -1
	}

	.footer-top {
		padding-bottom: 10px;
		padding-top: 40px
	}

	.text-block-content {
		margin-bottom: 0
	}

	.block-heading {
		margin-bottom: 15px
	}

	.copy-right-logo.copy-right-separator {
		padding-right: 0;
		margin-right: 0;
		border: 0;
		margin-bottom: 15px
	}
}