.sticky.transparent .header-layout-style-2 .header-transparent .header-top-bar {
	background-color: transparent
}

.vertical-menu-dropdown .vertical-menu-icon {
	display: block;
	width: 16px;
	flex: none;
	padding: 0;
	position: relative;
	top: 1px
}

.vertical-menu-dropdown .vertical-menu-icon span {
	content: "";
	height: 2px;
	margin-top: 3px;
	background: var(--dark-color);
	display: block;
	flex: none;
	padding: 0
}

.vertical-menu-dropdown .vertical-menu-icon span:first-child,
.vertical-navbar-list .sub-menu .block-menu-right-slider .product-box {
	margin-top: 0
}

.header-layout-style-2 .header-bottom .header-right-info a {
	font-size: var(--font_size_minus3);
	line-height: normal;
	font-weight: var(--font-weight-500);
	background-color: #e1f0d8;
	color: var(--dark-color);
	padding: 8px 18px;
	display: flex;
	align-items: center;
	margin: 0 3px;
	border-radius: 30px
}

.header-layout-style-2 .header-bottom .header-right-info a:first-child {
	background-color: #ffebd9
}

.header-layout-style-2 .header-bottom .header-right-info a i {
	font-size: var(--font_size);
	margin-right: 5px
}

.header-layout-style-2 .header-top-bar {
	padding: 18px 0;
	background-color: var(--base-color)
}

.header-layout-style-2 .header-bottom {
	box-shadow: 0 0 50px rgba(0, 0, 0, .1)
}

.header-layout-style-2 .search-results-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
	top: 100%;
	z-index: 1043;
	opacity: 0;
	visibility: hidden;
	transition: .3s
}

.header-layout-style-2 .search-results-wrapper .search-results-inner {
	background-color: var(--search-bg-color);
	padding-top: 30px;
	padding-bottom: 50px;
	max-height: calc(100vh - 55px);
	overflow-y: auto;
	position: relative;
	z-index: 10
}

.header-layout-style-2 .search-results-wrapper:before {
	content: "";
	position: fixed;
	opacity: 0;
	visibility: hidden;
	background-color: var(--dark-color);
	transition: .3s;
	left: 0;
	right: 0;
	inset: 0;
	pointer-events: none;
	z-index: 9;
	top: calc(var(--miniheader-height, 39px) + var(--header-height, 120px));
	height: 100vh;
	width: 100%
}

.box-layout .header-layout-style-2 .search-results-wrapper:before {
	width: calc(var(--box-layout-width) - 30px);
	left: 50%;
	transform: translateX(-50%)
}

.disable-fixed.sticky-active .header-layout-style-2 .search-results-wrapper:before {
	opacity: 0;
	visibility: hidden
}

.header-layout-style-2 .search-results-wrapper.active:before {
	opacity: .7;
	visibility: visible
}

.header-layout-style-2 .search-results-wrapper.active {
	opacity: 1;
	visibility: visible
}

.header-layout-style-2 .minisearch-popup .search-form-wrapper input[type=text] {
	font-size: var(--font_size);
	color: var(--search-input-text-color);
	background-color: var(--search-input-bg-color);
	border: 1px solid var(--search-input-border-color);
	padding: 10px 165px 10px 30px;
	border-radius: 50px;
	height: 52px;
	margin-bottom: 0
}

.header-layout-style-2 .minisearch-popup .search-form-wrapper button {
	font-size: var(--font_size);
	font-weight: var(--font-weight-500);
	padding: 0 35px 0 25px;
	display: flex;
	align-items: center;
	top: 0
}

.header-layout-style-2 .minisearch-popup .search-form-wrapper button i {
	margin-right: 5px;
	position: relative;
	top: -1px
}

.header-layout-style-2 .minisearch-popup .search-form-wrapper button:before {
	content: "";
	height: 20px;
	width: 1px;
	background-color: var(--dark-color);
	opacity: .2;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%)
}

.header-layout-style-2 .navbar-right .addon-title {
	font-size: var(--font_size_minus1);
	font-weight: var(--font-weight-400);
	color: var(--addon-text-title-color)
}

.header-layout-style-2 .navbar-right>div {
	font-size: var(--font_size);
	line-height: 20px;
	font-weight: var(--font-weight-500);
	padding-left: 25px
}

.header-layout-style-2 .navbar-right>div:last-child {
	padding-right: 0
}

.header-layout-style-2 .navbar-right .account i {
	font-size: var(--font_size_plus16)
}

.header-layout-style-2 .navbar-right a .count {
	left: 15px
}

.vertical-navbar-list .sub-menu .block-menu-wrapper .image-menu>a {
	display: block;
	margin-bottom: 20px
}

.vertical-navbar-list .products-list .product-box .product-image {
	flex: 0 0 auto;
	width: 30%;
	box-shadow: 0 0 10px rgba(0, 0, 0, .08);
	border-radius: 4px
}

.vertical-navbar-list .products-list .product-box .product-content {
	flex: 0 0 auto;
	width: 70%;
	padding-left: 20px
}

.vertical-navbar-list .products-list .product-box .product-vendor {
	font-size: var(--font_size_minus3);
	line-height: var(--font_size_minus4)
}

.vertical-navbar-list .products-list .product-box .product-title {
	font-size: var(--font_size_minus1);
	line-height: var(--font_size_plus8);
	color: var(--dark-color);
	display: inline-block;
	font-weight: var(--font-weight-500)
}

.vertical-navbar-list .products-list .product-box .regular-price,
.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-prev {
	margin-right: 10px
}

.vertical-navbar-list .products-list .product-box:not(:last-child) {
	margin-bottom: 20px
}

.vertical-navbar-list .products-list .product-box .badge-wrap {
	display: none !important
}

.vertical-navbar-list .sub-menu .product-box .old-price {
	font-size: var(--font_size_minus2);
	line-height: var(--font_size_plus2)
}

.vertical-navbar-list .sub-menu .products-list .child-link-title {
	margin-bottom: 15px
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .product-box .svg-placeholder {
	position: static
}

.vertical-navbar-list .products-list .product-box .price-wrapper {
	display: flex;
	align-items: center;
	justify-content: start
}

.vertical-navbar-list .sub-menu .child-link-title {
	font-size: var(--font_size_minus1);
	line-height: normal;
	font-weight: var(--font-weight-500);
	color: var(--dark-color);
	line-height: var(--font_size_plus11);
	display: block;
	margin-bottom: 3px
}

.vertical-navbar-list .sub-menu .product-box .regular-price,
.vertical-navbar-list .sub-menu .product-box .special-price {
	font-size: var(--font_size);
	line-height: var(--font_size);
	font-weight: var(--font-weight-500);
	color: var(--base-color);
	margin-right: 5px
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-next,
.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-prev {
	position: inherit;
	left: inherit;
	right: inherit;
	margin-top: 0;
	width: auto;
	height: auto
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-next:after,
.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-prev:after {
	display: none
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-next i,
.vertical-navbar-list .sub-menu .block-menu-right-slider .swiper-button-prev i {
	font-size: var(--font_size_plus4);
	color: var(--menu-open-text-color)
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .child-link-title {
	margin-right: auto;
	padding-right: 10px
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .navigation-btn {
	margin-bottom: 18px
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .product-box .product-image {
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 5px
}

.vertical-navbar-list .sub-menu .block-menu-right-slider .product-box .product-footer {
	padding: 10px 0 0
}

.vertical-navbar-list .vertical-nav-item>a span .menu-lable {
	margin-left: 5px;
	margin-top: -1px
}

@media (min-width:1400px) {
	.vertical-menu-column:hover .vertical-menu-arrow {
		transform: rotateX(180deg)
	}
}

@media (min-width:1200px) {

	.vertical-navbar-collappes,
	.vertical-navbar-list {
		transition: opacity .3s, visibility .3s, transform .3s
	}

	.vertical-navbar-collappes,
	.vertical-navbar-list .sub-menu {
		opacity: 0;
		visibility: hidden;
		z-index: 3;
		pointer-events: none;
		position: absolute
	}

	.vertical-menu-dropdown,
	.vertical-navbar-list .vertical-nav-item>a {
		line-height: normal;
		color: var(--dark-color);
		font-weight: var(--font-weight-500)
	}

	.vertical-navbar-list .sub-menu .block-menu-wrapper .image-menu .child-link-title {
		margin-bottom: 3px
	}

	.header-layout-style-2 .navbar-right a .count {
		top: 0
	}

	.header-layout-style-2 .menu-column {
		flex: 1;
		padding-left: 25px
	}

	.header-layout-style-2 .navbar-right>div i {
		font-size: var(--font_size_plus14);
		margin-right: 10px
	}

	.header-layout-style-2 .navbar-right .cart i,
	.header-layout-style-2 .navbar-right .wishlist i {
		position: relative;
		top: 2px
	}

	.vertical-menu-dropdown {
		font-size: var(--font_size_plus1);
		padding-top: 22px;
		padding-bottom: 22px;
		padding-right: 10px
	}

	.header-layout-style-2 .navbar .navbar-nav .nav-item .nav-link {
		padding: 22px 0
	}

	.vertical-menu-dropdown:hover {
		color: var(--dark-color)
	}

	.vertical-menu-dropdown .vertical-menu-arrow {
		transition: transform .3s;
		font-size: var(--font_size_plus5)
	}

	.vertical-menu-column {
		min-width: 280px
	}

	.vertical-menu-dropdown span {
		flex: 1;
		padding: 0 10px
	}

	.vertical-menu-dropdown:before {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
		height: 24px;
		background-color: var(--extra-medium-gray)
	}

	.vertical-navbar-list,
	.vertical-navbar-list .sub-menu {
		background-color: var(--white-color);
		transform: translateY(15px)
	}

	.vertical-navbar-collappes {
		left: 0;
		top: 100%;
		width: 100%;
		max-width: 300px
	}

	.vertical-navbar-list {
		border: 1px solid var(--extra-medium-gray);
		list-style: none;
		padding: 0;
		border-radius: 0 0 8px 8px
	}

	.vertical-menu-column:hover .vertical-navbar-collappes,
	.vertical-menu-column:hover .vertical-navbar-collappes .vertical-navbar-list,
	.vertical-navbar-list .vertical-nav-item:hover .sub-menu {
		opacity: 1;
		visibility: visible;
		pointer-events: unset;
		transform: none
	}

	.vertical-navbar-list .vertical-nav-item {
		padding: 0 20px
	}

	.vertical-navbar-list .vertical-nav-item.nav-type-dropdown {
		position: relative
	}

	.vertical-navbar-list .sub-menu {
		top: 0;
		left: 100%;
		overflow: hidden;
		max-width: 100vw;
		max-height: 90vh;
		min-height: 100%;
		margin-left: -1px;
		transition: opacity .35s, visibility .35s, transform .35s, -webkit-transform .35s;
		border: 1px solid var(--extra-medium-gray);
		border-radius: 0 8px 8px
	}

	.vertical-navbar-list .vertical-nav-item.nav-type-dropdown:first-child .sub-menu {
		border-radius: 0 8px 8px
	}

	.vertical-navbar-list .vertical-nav-item.nav-type-dropdown .sub-menu {
		height: auto;
		border-radius: 10px
	}

	.vertical-navbar-list .vertical-nav-item>a {
		font-size: var(--font_size_minus1);
		border-bottom: 1px solid var(--extra-medium-gray);
		padding-top: 13px;
		padding-bottom: 13px
	}

	.vertical-navbar-list .vertical-nav-item.active>a,
	.vertical-navbar-list .vertical-nav-item>a:hover {
		color: var(--base-color)
	}

	.vertical-navbar-list .vertical-nav-item:last-child>a {
		border-bottom: 0
	}

	.vertical-navbar-list .vertical-nav-item>a>i:not(.feather-chevron-right),
	.vertical-navbar-list .vertical-nav-item>a>img {
		margin-right: 10px
	}

	.vertical-navbar-list .vertical-nav-item>a span {
		flex: 1
	}

	.vertical-navbar-list .sub-menu .block-menu-right-banner,
	.vertical-navbar-list .sub-menu .block-menu-right-slider,
	.vertical-navbar-list .sub-menu .block-menu-wrapper,
	.vertical-navbar-list .sub-menu .products-list {
		padding: 40px
	}

	.vertical-navbar-list .nav-type-dropdown .sub-menu {
		padding: 25px 35px
	}

	.vertical-navbar-list .sub-menu .block-menu-right-banner {
		text-align: right;
		padding-left: 15px
	}

	.vertical-navbar-list .sub-menu .block-menu-right-slider,
	.vertical-navbar-list .sub-menu .products-list {
		background-color: #f7f7f7
	}

	.vertical-navbar-list .sub-menu .block-menu-right-slider:before,
	.vertical-navbar-list .sub-menu .products-list:before {
		content: "";
		background-color: #f7f7f7;
		position: absolute;
		top: 100%;
		height: 100%;
		width: 100%;
		left: 0
	}

	.vertical-navbar-list .child-submenu,
	.vertical-navbar-list .sub-menu {
		font-size: var(--font_size_minus1);
		list-style: none;
		padding: 0;
		line-height: var(--font_size_plus11)
	}

	.vertical-navbar-list .block-menu-wrapper .level1 {
		margin-bottom: 20px
	}
}