.klaviyo-form input,
.klaviyo-form input:hover {
	border-color: var(--extra-medium-gray) !important
}

.klaviyo-form form {
	max-width: 500px !important
}

.klaviyo-form button {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 120px
}

.klaviyo-form input {
	padding-right: 156px !important;
	box-shadow: none !important
}

.klaviyo-form input:focus {
	border-color: var(--dark-color)
}

.newsletter-wrap input,
.newsletter-wrap input:focus {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid var(--dark-color);
	padding: 13px 110px 13px 0;
	color: rgba(35, 35, 35, .6);
	font-size: var(--font_size);
	line-height: var(--font_size_plus6);
	position: relative;
	outline: 0;
	width: 100%
}

.newsletter-wrap form {
	margin-top: 25px
}

.newsletter-style-1 .widget-title i,
.newsletter-style-2 .widget-title i {
	margin-right: 15px
}
.newsletter-style-1 .widget-title {
	justify-content: center;
}
.newsletter-style-1 .widget-title,
.newsletter-style-2 .widget-title {
	display: flex;
	align-items: center
}

.newsletter-style-1 .newsletter-wrap p {
	margin-top: 20px
}

.newsletter-style-2 .newsletter-heading h3 {
	font-size: var(--font_size_plus12);
	line-height: var(--font_size_plus12);
	margin-bottom: 0;
	flex-shrink: 0
}

.newsletter-style-2 .newsletter-heading p {
	margin-bottom: 0;
	margin-right: 60px;
	border-left: 1px solid rgba(0, 0, 0, .2);
	padding-left: 25px;
	margin-left: 25px
}

.newsletter-style-2 .newsletter-wrap form {
	margin-top: 0;
	width: 560px
}

.newsletter-style-2 .newsletter-box {
	padding: 24px 0
}

.newsletter-style-2 .newsletter-wrap input {
	border-bottom: 0;
	padding-left: 28px;
	padding-right: 150px;
	border-radius: 5px !important;
	background-color: var(--white-color)
}

.newsletter-style-2 .newsletter-wrap .btn {
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	padding-right: 28px;
	padding-left: 25px;
	min-height: 1px
}

.newsletter-style-2 .newsletter-wrap .btn i {
	top: -1px;
	margin-right: 7px
}

@media (max-width:1399px) {
	.newsletter-style-2 .newsletter-wrap form {
		width: 420px
	}
}

@media (max-width:1199px) {
	.newsletter-style-2 .newsletter-heading {
		margin-bottom: 20px
	}

	.newsletter-style-2 .newsletter-heading p {
		margin-right: 0
	}
}

@media (max-width:991px) {
	.newsletter-style-2 .newsletter-heading h3 {
		margin-bottom: 10px
	}

	.newsletter-style-2 .newsletter-heading p {
		padding-left: 0;
		margin-left: 0;
		border-left: none
	}
}

@media (max-width:767px) {
	.newsletter-style-2 .newsletter-wrap input {
		padding-left: 15px;
		padding-right: 125px
	}

	.newsletter-style-2 .newsletter-wrap .btn {
		font-size: var(--font_size_minus3);
		padding-right: 15px;
		padding-left: 15px;
		right: 0
	}

	.newsletter-style-1 .widget-title i,
	.newsletter-style-2 .widget-title i {
		display: none
	}

	.klaviyo-form button {
		min-width: 100px
	}

	.klaviyo-form input {
		padding-right: 136px !important
	}
}

@media (max-width:575px) {
	.newsletter-style-2 .newsletter-wrap form {
		width: 100%
	}
}